.board {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.task-list {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 15px;
  border: 2px solid #828282;
  border-radius: 15px;
  overflow: hidden;
  &__title {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 600;
    padding: 10px 15px;
    align-self: flex-start;
    span {
      color: #fff;
      font-weight: 600;
    }
  }
  &__title--todo,
  &__btn--add-todo {
    background-color: #c19000;
  }

  &__title--in-progress {
    background-color: #006d9b;
  }

  &__title--done,
  &__btn--del-all {
    background-color: #009b68;
  }
  &__task {
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 0px 10px;
    align-self: start;
    button {
      color: #fff;
      background-color: #008000;
      padding: 3px 10px;
      border-radius: 5px;
      transition: 0.3s;
      &:hover {
        background-color: #bc69d0;
      }
    }
  }
  &__task-header {
    display: grid;
    margin-bottom: 10px;
  }
  &__task-header-btn-container {
    justify-self: end;
  }
  &__task-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  &__task-footer {
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    width: 100%;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    align-self: end;
    transition: 0.3s;
    &:hover {
      background-color: #bc69d0;
    }
  }
}
