// .header {
//   position: fixed;
//   z-index: 100;
//   width: 100%;
//   transition: 0.3s;
//   @media (max-width: 768px) {
//     height: 56px;
//   }
//   &__wrapper {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     border-bottom: 1px solid $color-6;
//     transition: 0.3s;
//     @media (max-width: 768px) {
//       border-bottom: 0;
//     }
//     .logo {
//       @extend %img-container;
//       flex: 0 0 183.862px;
//       height: 25.746px;
//       z-index: 100;
//       @media (max-width: 768px) {
//         flex: 0 0 103.47px;
//         height: 14.35px;
//         padding-bottom: 56px;
//       }
//       img {
//         @extend %img-ico;
//       }
//     }
//   }
// }

.header {
  &__wrapper {
    background-color: #eb9cff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 30px 50px;
    border-radius: 10px;
  }
  &__logo {
    font-size: 24px;
  }
  &__time {
    justify-self: end;
    border: 1px solid #000000dc;
    background-color: #d4d4d4dc;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 16px;
  }
}
